body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* NavBar CSS */
nav {
  background-color: #0c0d0efb;
  height: 75px; /* reduce the height of the navbar */
  width: 100%; /* make the width of the navbar 100% of the page */
  position: fixed; /* make the navbar fixed so that it stays on top */
  top: 0;
  z-index: 3;
}

.nav-link {
  color: #196F3D;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;

}


nav {
  display: block;
  text-align: center;
  position: relative; /* change the position to relative */
  margin: 0 auto; /* center the navbar horizontally */
  max-width: 100%; /* add a max-width to the navbar */
  height: 90px;
}

nav a {
  font-size: 22px;
  color: #196F3D;
  display: inline-block; /* change display to inline-block */
  line-height: 90px; /* change line-height to match the height of the navbar */
  padding: 0 20px; 
  position: relative;
  left: 450px;
}

nav a i {
  transition: none;
}

a:hover {
  color: #196F3D;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #196F3D;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #196F3D;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #196F3D;
  border-radius: 12px;
}

/* Home CSS */

.main-name {
  color: #196F3D;
}

#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

.home-header {
  padding-top: 80px !important;
}

.home-page {
  background-image: var(--section-background-color) !important;

}

.home-section {
  position: relative;
  z-index: -1;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
  /* background-image: var(--section-background-color) !important; */
}

.home-content {
  padding: 9rem 0 2rem !important;
  color: black;
  text-align: left;
}

.heading {
  font-size: 2.4em !important;
  padding-left: 50px !important;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 45px !important;
}

.main-name {
  color: #196F3D;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: #196F3D !important;
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #196F3D !important;
}

.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
  /* background-image: var(--section-background-color) !important; */
}

.home-about-description {
  color: black !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.home-about-body {
  padding-top: 50px;
  font-size: 1.2em !important;
  text-align: left;
}

.home-about-social {
  text-align: center !important;
  padding-top: 25px;
  color: black !important;
}

.home-about-social-links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.home-social-icons {
  position: relative !important;
  display: inline-block !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  font-size: 1.2em !important;
  line-height: 2em !important;
  background: #196F3D !important;
  border-radius: 50% !important;
  transition: 0.5s !important;
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #196F3D;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #196F3D;
}

.home-social-icons:hover {
  color: #196F3D;
  box-shadow: 0 0 5px #196F3D;
  text-shadow: 0 0 2px #196F3D;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #196F3D !important;
}

/* About CSS */
.about-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}

.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 1.7px solid #196F3D !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px #196F3D !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid #196F3D !important;
}
.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

.quote-card-view {
  border: none !important;
  color: white !important;
  background-color: transparent !important;
}

.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}

/* Portfolio CSS */
a:visited { 
  text-decoration: none; 
  color: white; 
 }

.project-section {
  background-image: var(--section-background-color) !important;
  height: 100vh;
  margin-top: 0px;
}


/* Footer CSS */
.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  font-size: 24px;
  color: black;
  background-color: black;
}

.Footer a {
  margin: 10px;
  width: 30px;
  height: 30px;
}

.Footer a svg {
  width: 100%;
  height: 100%;
}